venv/
.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
project_a/outputs/
project_b/outputs/
practice/
practice-csv/
outputs/
docs/

.idea

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Installer logs
pip-log.txt
pip-delete-this-directory.txt